# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ft_containers
ft_map
ft_vector
ft_set
ft_stack
std_map
std_vector
std_stack
std_set

# Folders
obj/
tests/
containers_test/
ft_containers-terminator/
ft_containers-42Heilbronn/
ft_containers-unit-test/